<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.mcdonaldkiosk.mapper.OrderMapper">

    <!-- 주문 추가 -->
    <insert id="addOrderList" parameterType="com.korit.mcdonaldkiosk.entity.Order" keyProperty="orderId" useGeneratedKeys="true">
        INSERT INTO order_tb (order_temp_id, order_time, total_price)
        VALUES (#{orderTempId}, now(), #{totalPrice});
    </insert>

    <!-- 가장 최근에 추가된 orderId 조회 -->
    <select id="getLatestOrderId" resultType="int">
        SELECT order_id
        FROM order_tb
        ORDER BY order_time DESC
        LIMIT 1
    </select>

    <!-- 주문 상세 항목 추가 -->
    <insert id="addOrders" parameterType="java.util.List">
        INSERT INTO order_detail_tb (order_id, menu_price_id, menu_count, is_set)
        VALUES
        <foreach collection="list" item="orderDetail" separator=",">
            (#{orderDetail.orderId}, #{orderDetail.menuPriceId}, #{orderDetail.menuCount}, #{orderDetail.isSet})
        </foreach>
    </insert>

</mapper>

